.login-main {
  padding: 1rem;
  margin: 2rem;
  display: flex;
}

body {
  background-color: #f1fcf1;
}
img{
  margin: 1rem;
  width: 700px;
  border-radius: 5px;
}
@media only screen and (max-width: 600px) {
  body {
   display: flex;
   flex-direction: column;
  }
}

.regibutton{
  margin-left: 50px;
  color: white;
}